.banner-image{
	/* flex-grow: 1; */
	margin-top: 5.373em; /*this is to offset due to Nav Bar*/
	/* width: 100%; */
	height: 30em;
	background-color: #e1e1e1;
	/* background-image: url("../img/MFBADay3@2x.jpg");
	background-repeat: no-repeat;
  background-size: cover; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.banner-text-quote-container{
	display: flex;
	flex-direction: row;
	width: 60%;
}
.heading-spacer{
	width: 40%;
}


.page-content-container{
	display: block;

}

.half-column-container{
	/*flex-wrap: wrap;*/
	/*min-width: 29em;*/
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.half-column-item{
	display: block;
	flex: 0 1 auto;
}
.half-column-item p{
	max-width: 35em;
}

.para{
	margin-right: 3em;
}

.content-image{
	flex-grow: 1;
	display: block;
	margin-top: 3em;
	width: 100%;
	height: 50vh;
	background-color: #e1e1e1;
	/*background-color: red;*/
}

.inset-text-after-image{
	margin-left: 8em;
	margin-right: 8em;
}

@media (max-width: 1410px) {
	.inset-text-after-image{
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.page-content-container{
		padding-left: 1em;
		padding-right: 1em;
	}
	.banner-text-quote-container{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.heading-spacer{
		width: 0;
	}

}

@media (max-width: 640px) {
	.half-column-container{
		/*flex-wrap: wrap;*/
		/*min-width: 29em;*/
		display:flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (max-width:67.5em){
.banner-image{
  margin-top: 8.738em;
  /*padding-top: 1.5em;*/
}

@media (max-width:50.313em){
.banner-image{
  margin-top: 11.962em;
  /*padding-top: 1em;*/
}

@media (max-width:28.375em){
.banner-image{
  /*margin-top: 16.429em;*/
  margin-top: 0;
  /*padding-top: 0.75em;*/
}

/************************************/
