.banner-image{
	/* flex-grow: 1; */
	margin-top: 5.378em; /*this is to offset due to Nav Bar*/
	/* width: 100%; */
	height: 30em;
	background-color: #e1e1e1;
	background-image: url("../img/ultimaker-community-ultihack-2016 flipped black.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-text-master-container{
	color: white;
}

.banner-text-master-container h1{
	margin: 0;
	padding: 0;
}

.banner-text-master-container h2{
	margin: 0;
	padding: 0;
}

.banner-text-master-container h3{
	margin: 0;
	padding: 0;
}


.banner-text-quote-container{
	display: flex;
	flex-direction: row;
	margin: 1.5em 0;
	width: 60%;
}
.heading-spacer{
	width: 40%;
}


.page-content-container{
	display: block;

}

.half-column-container{
	/*flex-wrap: wrap;*/
	/*min-width: 29em;*/
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.half-column-item{
	display: block;
	flex: 0 1 auto;
}
.half-column-item p{
	max-width: 35em;
}

.para{
	margin-right: 3em;
}

.content-image-stations{
	flex-grow: 1;
	display: block;
	margin-top: 5em;
	width: 100%;
	height: 30em;
	background-image: url("../img/wallpaper-14-1-1200x800.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #e1e1e1;
	/*background-color: red;*/
}


.content-image-store{
	flex-grow: 1;
	display: block;
	margin-top: 5em;
	width: 100%;
	height: 30em;
	background-image: url("../img/58_tae_image_image_caption_w768.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #e1e1e1;
	/*background-color: red;*/
}

.content-image-designs{
	flex-grow: 1;
	display: block;
	margin-top: 5em;
	width: 100%;
	height: 30em;
	background-image: url("../img/cropped-3d-printer-1.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-color: #e1e1e1;
	/*background-color: red;*/
}
.inset-text-after-image{
	margin-left: 8em;
	margin-right: 8em;
}



@media (max-width: 1410px) {
	.inset-text-after-image{
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.page-content-container{
		padding-left: 1em;
		padding-right: 1em;
	}
	.banner-text-quote-container{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.heading-spacer{
		width: 0;
	}

	.content-image-stations{
		height: 20em;
		background-position: bottom;
	}


	.content-image-store{
		height: 20em;
		background-position: bottom;
	}

	.content-image-designs{
		height: 20em;
		background-position: bottom;
	}

}

@media (max-width: 640px) {
	.half-column-container{
		/*flex-wrap: wrap;*/
		/*min-width: 29em;*/
		display:flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (max-width:66em){
.banner-image{
  margin-top: 8.748em;
  /*padding-top: 1.5em;*/
}

@media (max-width:48em){
.banner-image{
  margin-top: 11.972em;
  /*padding-top: 1em;*/
}

@media (max-width:26.563em){
.banner-image{
  margin-top: 17.419em;
  /*padding-top: 0.75em;*/
}
