*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}
ul{
  padding: 0;
  list-style: none;

}

.your-cart{
  margin: 0;
  margin-left: 0.9em;
}
.overall-checkout{
  margin-top: 5.378em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}
.checkout{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  max-height: 32em;
  /* border: 1px solid grey; */
  padding: 0.6em;
  padding-top: 1.4em;
  background-color: #F0F0F0;
}

.items{
  width: 100%;
}

.left-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height:75em; */
  /* border: solid black 2px; */
}

.checkout-container{
  display: flex;
  flex-direction: column;
}
.checkout-divider{
  height: 1px;
  width: 100%;
  background-color: grey;
}
.checkout-details{
  width: 100%;
  height: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.product-name{
  margin: 0;
}

.checkout-image{
  margin: 1em;
  margin-left: 0;
  /* background-color: #e05151; */
}

.checkout-image img{
  width:25em;
}

.checkout-info{
  width: 50%;
  margin: 1em;
  margin-left: 0;
  /* height: 210px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qty-price-tprice-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.qty-price-tprice-cont h4{
  font-weight: 500;
}
.qty-cont{
  display: flex;
  flex-direction: column;
}
.qty-input{
  width: 4em;
  height: 2em;
  border: 1px solid  #a9a9a9;
  border-radius: 3px;
}
.adding-some-space{
  height: 1em;
}

input[type=number]{
  padding-left: 0.5em;
}

.top-margin{
  margin-top: 0.3em;
}
.price-cont{
  display: flex;
  flex-direction: column;
}

.tprice-cont{
  display: flex;
  flex-direction: column;
}
.tprice-price-cont{
  display: flex;
  flex-direction: row;
}
.strikethrough{
  text-decoration: line-through;
  margin-right: 0.5em;
}
.remove-wishlist{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 1em;
}
.remove-wishlist h4{
  font-weight: 500;
  color: black;

}
.remove-wishlist h4:hover, .remove-wishlist h4:focus{
  color: #f3784d;
  text-decoration-color: #f3784d;
}
.remove{
  margin-right: 0.8em;
}

h3, h4{
  margin: 0;
}


/* similar products----------------------------------------------------------------- */
.similar-products{
  width: 100%;
  /* height: 50%; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* similar products----------------------------------------------------------------- */

/* right content  _________________-------------------------____________________*/



.right-content{
  display: flex;
  /* margin-left: 1em; */
  flex-direction: row;
}

.order-summary-details{
  width: 100%;
  margin: 0;
  margin-top: 1.5em;
  /* height: 60%; */
  /* background-color: #3afcff; */
  padding: 0 1em;

  display: flex;
  flex-direction: column;

}

.margin{
  margin: 0;
  margin-left: 0.6em;
}
/* .margin h2{
  margin-left: 1.5em;
} */
.summary-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3em 0;
}

.shipping-radio{
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.radio-class{
  display: flex;
  flex-direction: row;
}

.radio-class h4{
  padding-left: 0.4em;
}
/* .ship-copy{
  margin: 0;
  margin-left: 1.3em;
} */
.ship-copy p{
  font-weight: 500;
  margin: 0;
  margin-left: 1.3em;
}

.checkout-button{
  /* width: 10em; */
  color: #fff;
  background-color: #f3784d;
  transition-duration: 0.4s;
  text-align: center;
  padding: 1em 1em;
  margin: 1em;
  border-radius: 2px;
}


.button-submits:hover, .button-submits:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}

.button-submits:active{
  animation: pulse-orange 0.2s 1 ease-out;
}

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}

@media (max-width:66em){
.overall-checkout{
  margin-top: 8.748em;
  padding-top: 1.5em;
}

@media (max-width:48em){
.overall-checkout{
  margin-top: 11.972em;
  padding-top: 1em;
}

@media (max-width:26.563em){
.overall-checkout{
  margin-top: 17.419em;
  padding-top: 0.75em;
}
