.page-content-container{
	/*background-color: lightyellow;*/
	display: flex;
	flex-direction: column;
}

.top-banner{
	margin-top: 6.4em;
	display: flex;
	flex-direction: row;
	/*background-color: lightblue;*/
}

.banner-image{
	display: flex;
	width: 66%;
}

.banner-image img{
	width: 100%;
	height: auto;
}

.banner-text-container{
	display: flex;
	flex-direction: column;
	width: 34%;
	padding: 3em 2em;
	background-color: #f5f5f5;
	justify-content: space-between;
}

/*.banner-text-date-container{
	display: flex;
	flex-direction: column;
	position: relative;
	top:0;
	background-color: red;
  	text-align: center;
}*/

.banner-text-date-container{
	display: flex;
	flex-direction: row;
}

.date-column-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 0 1 auto;
	text-align: center;
}

.date-column-container h4{
	margin: 0;
	display: inline-flex;
	font-weight: normal;
	line-height: 1em;
	justify-content: center;
}

.date-column-container h2{
	margin: 0;
	display: inline-flex;
	line-height: 1em;
}

.spacer{
	flex: 1 1 auto;
}

/*.month h4{
	margin: 0;
	display: inline-flex;
	font-weight: normal;
	line-height: 1em;
}

.day h2{
	margin: 0;
	display: inline-flex;
	line-height: 1em;
}*/

.banner-text-price-container h3{
	margin:0;
}

.banner-text-description-container{
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	/*height: 33%;*/
	/*background-color: orange;*/
}

.banner-text-description-container p{
	margin-bottom: 0;
}

.banner-text-description-container h3{
	margin: 0;
}

.banner-text-price-container{
	position: relative;
	bottom: 0;
	/*height: 33%;*/
	/*background-color: yellow;*/
}

.tickets-bar-container{
	display: flex;
	flex-direction: row;
}

.ticket-bar-left-column{
	width: 66%;
	background-color: red;
	/*margin: 0.5em;*/
}

.bookmark-and-share-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0.5em;
	background-color: lightpink;
	width: 7em;
}

.share-logo{
	/*background-color: yellow;*/
	max-width: 3.125em;
	max-height: 3.125em;
}

.share-logo img{
	width: 100%;
	height: auto;
}

.bookmark-logo{
	/*background-color: orange;*/
	max-width: 3.125em;
	max-height: 3.125em;
}

.bookmark-logo img{
	width: 100%;
	height: auto;
}

.ticket-bar-right-column{
	width: 34%;
	/*margin: 1em,1.5em;*/
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	/*margin: 0.563em;*/
  	/*margin: 1em 1.5em;*/
}

.button-register{
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-style: solid;
  /*width: 100%;*/
  margin: 0.5em 1.5em;
  /*margin: 0.563em;*/
  text-align: center;
  color: white;

  transition-duration: 0.4s;
  padding: 0.5em 1em;
}

.button-register h3{
	margin:0;
}

.button-register:hover, .button-register:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}

.core-content-container{
	display: flex;
	flex-direction: row;
	/*background-color: lightgreen;*/
}

.left-content-container{
	width: 66%;
	padding-left: 8em;
	padding-right: 8em;
	padding-top: 3.494em;
	padding-bottom: 2em;
	/*padding: 2em 8em;*/
}

.left-content-container p{
	margin-top: 0;
}

.left-content-container h3{
	margin-top: 0;
}

.right-content-container{
	width: 34%;
	padding: 2em;
	/*background-color: lightblue;*/
}

.right-content-container p{
	margin:0;
}

.right-content-container h4{
	margin-bottom: 0.5em;
}

.micro-details{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.half-column{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.left{

}

.right{

}

/* THe responsiveness grid */
@media (max-width: 74.375em) {

  .top-banner {
    flex-direction: column;
  }

  .banner-image{
  	width: 100%;
  }

  .banner-text-container{
  	width: 100%;
  	flex-direction: row;
  }

  .left-content-container{
  	padding-left: 3em;
  	padding-right: 1.5em;
  }

  .right-content-container{
  	padding-left: 1.5em;
  	padding-right: 3em;
  }

  .page-content-container{
  	padding-right: 0;
  	padding-left: 0;
  }
} /* end of the 1190px (74 em)*/

@media (max-width: 49.250em) {

	.core-content-container{
		flex-direction: column;
	}

	.left-content-container{
		order: 2;
		width: 100%;
		padding-right: 1em;
		padding-left: 1em;
	}

	.right-content-container{
		width: 100%;
		padding-right: 1em;
		padding-left: 1em;
	}

	.micro-details{
		flex-direction: row;
	}

	.half-column{
		width: 50%;
	}

	.left{
		padding-right: 1em;
	}

	.right{
		padding-left: 1em;
	}
}

@media (max-width: 32.250em) {
	.micro-details{
		flex-direction: column;
	}

	.left{
		padding-right: 0;
	}

	.right{
		padding-left: 0;
	}

	.half-column{
		width: 100%;
	}
}

/*
the tickect banner (js)
the banner text reformat
*/