*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.filter{
  min-width: 16.983em;
  padding-right: 10px;
  border-right: solid #848484 0.5px;
  display: block;
}

.master-event-card-block-container{
  display: block;
  width: 100%;
}

.page-content-container{
  display: flex;
}
.product-heading{
/*  margin-left: 16em;*/
    margin-top: 5.373em;
    padding-top: 3em;
}

.event-card-container{
  padding-left: 1.403em;
  padding-right: 1.403em;
  width: 100%;
}

.event-card-list{
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  list-style: none;
  padding-right: 0;
  margin-right: 0;
}
.event-card{
  /*flex: 0,1,auto;*/
  display:flex;
  flex-direction: row;
  width: 100%;
  /*width: 100vw;*/
  /*height: 6em;*/

/*background-color: #e1e1e1;*/
  padding: 0.25em;
  /*margin-bottom: 1.403em;*/
  border-radius: 9px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.event-card:hover, .event-card:focus{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.event-date-and-details-container{
  display: flex;
  flex-direction: row;
}

.event-date{
  display: flex;
  flex-direction: column;
  margin: 0.563em;
  width: 3.125em;
  justify-content: center;
  text-align: center;
}

.event-date h1{
  /*margin: 0 0.25em 0 0.25em;*/
  margin: 0;
  line-height: 0.921em;
  justify-content: center;
}

.event-date h2{
  /*margin: 0 0.4em 0em 0.4em;*/
  margin: 0;
  line-height: 1.111em;
  justify-content: center;
}

.event-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: 0.75em 0.4em 0.6em 0.4em;*/
  margin: 0.563em;
  width: 120px;
}

.event-details p{
  margin: 0;
  font-size: 18px;
  /*font-weight: bold;*/
}

.event-description-and-button-container{
  display: flex;
  flex-direction: row;
}

.event-description{
  display: flex;
  flex-direction: column;
  margin: 0.563em;
  /*margin: 0.25em;*/
  justify-content: center;
  max-width: 31.250em;

}

.event-description h1{
  margin: 0;
  line-height: 1.25em;
}

.event-description h3{
  margin: 0;
}

.button-allignment-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.563em;
  margin-left: 1.875em;
}

.register-button h3{
  margin: 0;
}

.register-button{
  /*width: 100%;*/
  color: #fff;
  transition-duration: 0.4s;
  text-align: center;
  align-content: center;
  padding: 0.5em 1em;

  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-style: solid;

  width: 140px;
}

.register-button:hover, .register-button:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}


.registered-button{
  transition-duration: 0.4s;
  text-align: center;
  align-content: center;
  padding: 0.5em 1em;

  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;

  background-color: grey;
  color: white;
  border-color: grey;

  width: 140px;
}

.registered-button h3{
  margin: 0;
}

.spacer1{
  width: 1.875em;
}

.spacer2{
  width: 1.875em;
}

.spacer3{
  width: 1.875em;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;

}

.filter li{
  border-bottom: solid #848484 0.5px;
}

.filter h1{
font-size: 1.4em;
line-height: 2em;
text-align: baseline;
}


/*.radio{
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}
.label{
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px 
    border-color gray;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .label:after{
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: white;
      transform: scale(0);
      transition all: .2s ease;
      opacity: .08;
      pointer-events: none;
    }
.label:hover, .label:after{
      transform:scale(3.6);
    }
    
  
input[type="radio"]:checked .label{
  border-color: white;
}
  .label:after{
    transform: scale(1);
    transition: all .2s cubic-bezier(.35,.9,.4,.9);
    opacity: 1;
  }

.cntr{
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}

.hidden{
  display: none;
}*/
  
/*dribbble */
/*.credit{
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all .2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: .6;
  }

.credit img{
  width: 72px;
}
  .credit:hover{
    transform: scale(.95);
  
  }*/

@media (max-width: 77.813em) {
  .page-content-container{
    flex-direction: column;
  }

  .event-description{
    /*min-width: 31.25em;*/
    /*max-width: 620px;*/
    width: 31.25em;
  }

}

@media (max-width: 69.75em) {

  /*.event-date-and-details-container{
    flex-direction: column;
  }*/

  /*.event-description-and-button-container{
    flex-direction: column;
  }*/

  .event-description{
    display: flex;
    order: -1;
  }

  /*.event-date{
    flex-direction: row;
  }*/

  .event-details{
    flex-direction: row;
  }


  .event-content{
    flex-wrap: wrap;
  }

  .button-container{
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  margin: 0.563em;
  margin-left: 1.875em;
  }
}


/*These are for the nav top space*/

@media (max-width:67.5em){
.product-heading{
  margin-top: 8.738em;
  padding-top: 1.5em;
}

@media (max-width:50.313em){
.product-heading{
  margin-top: 11.962em;
  padding-top: 1em;
}

@media (max-width:28.375em){
.product-heading{
  /*margin-top: 16.429em;*/
  margin-top: 0;
  padding-top: 0.75em;
}
/*******************************************/
