.page-content-container{
	/*background-color: lightyellow;*/
	display: flex;
	flex-direction: column;
}

.top-banner{
	margin-top: 5.373em;
	display: flex;
	flex-direction: row;
	/*background-color: lightblue;*/
	padding-top: 1em;
}

.banner-image{
	display: flex;
	width: 66%;
}

.banner-image img{
	width: 100%;
	height: auto;
}

.banner-text-container{
	display: flex;
	flex-direction: column;
	width: 34%;
	padding: 1.5em 1.5em;
	padding-bottom: 1em;
	background-color: #f5f5f5;
	justify-content: space-between;
}

/*.banner-text-date-container{
	display: flex;
	flex-direction: column;
	position: relative;
	top:0;
	background-color: red;
  	text-align: center;
}*/

.banner-text-date-container{
	display: flex;
	flex-direction: row;
}

.date-column-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 0 1 auto;
	text-align: center;
}

.date-column-container h3{
	margin: 0;
	display: inline-flex;
	font-weight: normal;
	line-height: 1em;
	justify-content: center;
}

.date-column-container h1{
	margin: 0;
	display: inline-flex;
	line-height: 1em;
}

.spacer{
	flex: 1 1 auto;
}

/*.month h4{
	margin: 0;
	display: inline-flex;
	font-weight: normal;
	line-height: 1em;
}

.day h2{
	margin: 0;
	display: inline-flex;
	line-height: 1em;
}*/

.banner-text-price-container h2{
	margin:0;
}

.banner-text-description-container{
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	/*height: 33%;*/
	/*background-color: orange;*/
}

.banner-text-description-container p{
	margin-bottom: 0;
}

.banner-text-description-container h2{
	margin: 0;
}

.banner-text-price-container{
	position: relative;
	bottom: 0;
	/*height: 33%;*/
	/*background-color: yellow;*/
}

.tickets-bar-container{
	display: flex;
	flex-direction: row;
}

.ticket-bar-left-column{
	width: 66%;
	background-color: red;
	/*margin: 0.5em;*/
}

.bookmark-and-share-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0.5em;
	background-color: lightpink;
	width: 7em;
}

.share-logo{
	/*background-color: yellow;*/
	max-width: 3.125em;
	max-height: 3.125em;
}

.share-logo img{
	width: 100%;
	height: auto;
}

.bookmark-logo{
	/*background-color: orange;*/
	max-width: 3.125em;
	max-height: 3.125em;
}

.bookmark-logo img{
	width: 100%;
	height: auto;
}

.ticket-bar-right-column{
	width: 34%;
	/*margin: 1em,1.5em;*/
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	/*margin: 0.563em;*/
  	/*margin: 1em 1.5em;*/
}

.button-register{
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-style: solid;
  /*width: 100%;*/
  margin: 0.5em 1.5em;
  margin-left: 0;
  margin-right: 0;
  /*margin: 0.563em;*/
  text-align: center;
  color: white;

  transition-duration: 0.4s;
  padding: 0.5em 1em;
}

.button-register h3{
	margin:0;
}

.button-register:hover, .button-register:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}

.core-content-container{
	display: flex;
	flex-direction: row;
	/*background-color: lightgreen;*/
}

.left-content-container{
	width: 66%;
	padding-left: 2em;
	padding-right: 2em;
	/*padding-top: 3.494em;*/
	padding: 2em;
	padding-bottom: 2em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*padding: 2em 8em;*/
}

.left-content-mini-container{
	width: 45%;
	padding-top: 1.5em;
}


.left-content-mini-container p{
	margin-top: 0;
}

.left-content-mini-container h2{
	margin-top: 0;
}

.right-content-container{
	width: 34%;
	padding: 2em;
	/*background-color: lightblue;*/
}

.right-content-container p{
	margin:0;
}

.right-content-container h4{
	margin-bottom: 0.5em;
}

.micro-details{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.half-column{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.left{

}

.right{

}

/* THe responsiveness grid */
@media (max-width: 74.375em) {

  .top-banner {
    flex-direction: column;
    padding-top: 0;
  }

  .banner-image{
  	width: 100%;
  }

  .banner-text-container{
  	width: 100%;
  	flex-direction: row;
  	/*justify-content: center;*/
  	align-items: center;
  	padding-left: 2em;
  	padding-right: 2em;
  }

  .banner-text-description-container{
  	flex: 2 1 auto;
  }

  .banner-text-description-container p{
	margin-top: 0;
	max-width: 450px;
	}

	.banner-text-price-container h2{
	margin-right: 1.5em;
	}

  .left-content-container{
  	padding-left: 2em;
  	padding-right: 1.5em;
  	flex-direction: column;
  	justify-content: flex-start;
  	width: 100%;
  }

  .left-content-mini-container{
  	width: 100%;
  }

  .right-content-container{
  	padding-left: 1.5em;
  	padding-right: 2em;
  }

  .page-content-container{
  	padding-right: 0;
  	padding-left: 0;
  }

  .date-column-container{
  	margin-right: 1.5em;
  }
} /* end of the 1190px (74 em)*/

@media (max-width: 49.250em) {

	.core-content-container{
		flex-direction: column;
	}

	.button-register{
		/*background-color: #fff;*/
  		overflow: hidden;
 		display: flex;
 		flex-direction: row;
 		justify-content: center;

		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		padding: 1em 0;
		margin: 0;
		/*margin: 0.5em 1.5em;*/
	}

	.button-register h3{
	font-size: 1.4em;
 	font-weight: 600;
	}

	.banner-text-description-container{
  	flex: none;
  	}


  /*.banner-text-description-container p{
	margin-top: 0;
	max-width: none;
	}*/

	.banner-text-price-container h2{
	margin-right: 0;
	}

	.left-content-container{
		order: 2;
		width: 100%;
		padding-right: 1em;
		padding-left: 1em;
		padding-top: 0;
		padding-bottom: 0;
	}

	.right-content-container{
		width: 100%;
		padding-right: 1em;
		padding-left: 1em;
	}

	.micro-details{
		flex-direction: row;
	}

	.half-column{
		width: 50%;
	}

	.left{
		padding-right: 1.5em;
	}

	.right{
		padding-left: 1.5em;
	}
}

@media (max-width: 42.5em) {

	.banner-text-container{
		flex-wrap: wrap;
	}

	.banner-text-description-container p{
		display: none;
	}
	.banner-text-description-container h2{
		/*width: 100%;*/
		order: 1;
	}

	.banner-text-date-container{
		order: 2;
		/*max-width: 70px;*/
	}

	.date-column-container{
		flex-direction: row;
		/*max-width: 70px;*/
	}

	.date-column-container h1{
		padding-right: 0;
		font-size: 1.4em;
		font-weight: 600;
		order: 2;
	}

	.date-column-container h3{
		padding-right: 0.5em;
		font-size: 1.4em;
		font-weight: 600;
		order: 1;
	}

	.banner-text-price-container{
		order: 2;
	}

	.banner-text-container{
		/*flex-direction: column;*/
	}

}

@media (max-width: 39.125em) {
	.banner-text-date-container{
		display: none;
	}

	.banner-text-price-container{
		display: none;
	}

	.banner-text-container{
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 30.313em) {
	.banner-text-date-container{
		display: flex;
		font-size: 1.2em;
		font-weight: normal;
		/*margin-right: 1.5em;*/
	}

	.banner-text-price-container{
		display: flex;
		font-size: 1.2em;
		font-weight: normal;
		/*margin-left: 1.5em;*/
	}

	.banner-text-description-container{
  	flex: 1 1 auto;
  	justify-content: center;
  	margin-bottom: 1em;
  	/*font-weight: 900;*/
  	}

  	.banner-text-container{
  		/*flex-direction: column;*/
  		justify-content: space-between;
  	}
}


@media (max-width: 32.250em) {
	.micro-details{
		flex-direction: column;
	}

	.left{
		padding-right: 0;
	}

	.right{
		padding-left: 0;
	}

	.half-column{
		width: 100%;
	}
}


/*These are for the nav top space*/

@media (max-width:67.5em){
	.top-banner{
	  margin-top: 8.738em;
	  /*padding-top: 1.5em;*/
	}
}

@media (max-width:50.313em){
	.top-banner{
	  margin-top: 11.962em;
	  /*padding-top: 1em;*/
	}
}

@media (max-width:28.375em){
	.top-banner{
	  /*margin-top: 16.429em;*/
	  margin-top: 0;
	  /*padding-top: 0.75em;*/
	}
}
/*
the tickect banner (js)
the banner text reformat
*/
