*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.filter{
  min-width: 16.983em;
  padding-right: 10px;
  border-right: solid #848484 0.5px;
  display: block;
}

.master-event-card-block-container{
  display: block;
  width: 100%;
}

.page-content-container{
  display: flex;
}
.product-heading{
/*  margin-left: 16em;*/
    margin-top: 100px;
}

.event-card-container{
  padding-left: 1.403em;
  padding-right: 1.403em;
  width: 100%;
}

.event-card-list{
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  list-style: none;
  padding-right: 0;
  margin-right: 0;
}
.event-card{
  /*flex: 0,1,auto;*/
  display:flex;
  flex-direction: row;
  width: 100%;
  /*width: 100vw;*/
  /*height: 6em;*/

/*background-color: #e1e1e1;*/
  padding: 0.25em;
  /*margin-bottom: 1.403em;*/
  border-radius: 9px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.event-card:hover, .event-card:focus{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.event-date{
  display: flex;
  flex-direction: column;
  margin: 0.563em;
  width: 50px;
  justify-content: center;
  text-align: center;
}

.event-date h1{
  /*margin: 0 0.25em 0 0.25em;*/
  margin: 0;
  line-height: 0.921em;
  /*justify-content: center;*/
}

.event-date h2{
  /*margin: 0 0.4em 0em 0.4em;*/
  margin: 0;
  line-height: 1.111em;
  justify-content: center;
}

.event-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*margin: 0.75em 0.4em 0.6em 0.4em;*/
  margin: 0.563em;
}

.event-details p{
  margin: 0;
  font-size: 18px;
  /*font-weight: bold;*/
}

.event-description{
  display: flex;
  flex-direction: column;
  margin: 0.563em;
  /*margin: 0.25em;*/
  justify-content: space-between;

}

.event-description h1{
  margin: 0;
  line-height: 0.921em;
}

.event-description h3{
  margin: 0;
}

.button-allignment-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.563em;
}

.register-button h3{
  margin: 0;
}

.register-button{
  /*width: 100%;*/
  color: #fff;
  transition-duration: 0.4s;
  text-align: center;
  align-content: center;
  padding: 0.5em 1em;

  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-style: solid;
}

.register-button:hover, .register-button:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}


.registered-button{
  transition-duration: 0.4s;
  text-align: center;
  align-content: center;
  padding: 0.5em 1em;

  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;

  background-color: grey;
  color: white;
  border-color: grey;
}

.registered-button h3{
  margin: 0;
}

.spacer1{
  width: 1.875em;
}

.spacer2{
  width: 1.875em;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;

}

.filter li{
  border-bottom: solid #848484 0.5px;
}
