*, *::after, *::before{
  box-sizing: border-box;
}

.faq{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 16em;
  margin-right: 16em;
}

.title{
  text-align: center;
  font-weight: 900;
}

.question{
  display: flex;
  flex-direction: column;
}

.question-title{
  padding: 0;
  margin-top: 1em;
  padding-left: 1.5em;
}


.g{
  background-color: #adadad;
}

.question p{
  padding-left: 1.5em;
  padding-bottom: 1em;
}
