*, *::after, *::before{
  box-sizing: border-box;
}

.faq{
  margin-top: 5.373em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.question-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.question{
  width: 30%;
  height: auto;
  margin: 2em;
  margin-left: 0;
  padding: 2em;
  padding-bottom: 0;
}

.question h3{
  font-weight: bold;
}
.question ul{
  list-style: none;
}

@media (max-width: 1054px) {
  .question{
    width: 46%;
  }
}

@media (max-width: 894px) {
  .question{
    width: 100%;
  }

  .question{
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .page-content-container{
    padding-left: 1em;
    padding-right: 1em;
  }

  .question{
    margin: 0;
    padding: 0;
  }
}


@media (max-width:67.5em){
.faq{
  margin-top: 8.738em;
  padding-top: 1.5em;
}

@media (max-width:50.313em){
.faq{
  margin-top: 11.962em;
  padding-top: 1em;
}

@media (max-width:28.375em){
.faq{
  /*margin-top: 16.429em;*/
  margin-top: 0;
  padding-top: 0.75em;
}

/****************************************/

