*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}
/*footer*/
/* .page-content-container{
  padding: 0;
} */
.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  background-color: #EBEBEB;
}

.social-media-container{
  padding: 1em 0;
  background-color: #bcbcbc;
  justify-content: center;
}

.social-media-items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.social-media-links{
  display: flex;
  flex-direction: row;
}
.social-media-items h4{
  margin: 0;
  padding: 0;
  line-height: 2em;
}
.social{
  color: white;
  margin: 0 0.3em;
}
.social:focus, .social:hover{
  color: black;
  cursor: pointer;
}

.footer-links-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;

}
.footer-links-container h3{
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid #f3784d;
}
.footer-links-container ul{
  list-style: none;
  padding: 0;
}

.footer-links-item a{
  color: black;
}

.footer-in-text-link:hover, .footer-in-text-link:focus{
  color: #f3784d;
}



.copyright-container{
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #bcbcbc;
}

.copyright-item h4{
  margin: 0;
  color: white;
}
/*footer end*/

@media (max-width: 1112px) {
  .social-media-container{
    padding: 1em 2em;
  }
  .footer-links-container {
    padding: 2em;
  }
  .copyright-item h4{
    padding: 0 2em;
  }
}

@media (max-width: 826px) {
  .footer-links-container{
    display: inline-block;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: space-between; */
    padding-top: 2em;
    padding-bottom: 2em;

  }
}

@media (max-width: 724px) {
  .social-media-items{
    flex-direction: column;
  }
}

@media (max-width: 454px) {
  .social-media-items h4{
    display: none;
  }
}
