*, *::after, *::before{
  box-sizing: border-box;
}
/*Nav bar*/

.container-nav {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1em 0;
  box-shadow: 0px 13px 57px -15px rgba(0,0,0,0.49);
}

.logo-nav {
  background-color:#ff5722;
  min-width: 10em;
  margin: 0.2em;
  margin-left: 1.5em;
  padding: 1em 0;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
}

.searchbar-nav {
  margin: 0.2em;
  margin-right: 0.5em;
  width: 100%;
  border: none;
  font-size: 17px;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-right: 2em;
  justify-content: center;
}

input[id=search]{
  color: #52525a;
  width: 150px;
  border-style: solid;
  border-color: #f3784d;
  border-radius: .5em;
  background-color: white;
  /* background-image: url('https://www.w3schools.com/css/searchicon.png'); */
  /* background-position:top; */
  /* background-size: 10%; */
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  -webkit-fill-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }

input[id=search]:focus {
  width: -webkit-fill-available;
}

input[type=text] {

  height: 100%;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #276cd414;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: "../img/searchIcon.png";
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

form{
  width:100%;
  height: 100%;
}

.separate-nav{
  min-width: 10em;
  margin: 0.2em;
}

.cart{
  margin-right: 1em;
  padding: 0;
  width: 50px;
  height: 50px;
}

.user{
  margin-left: 1em;
  padding-bottom: 0;
  width: 50px;
  height: 50px;
  margin-right: 2em;
}

.cart img{
 margin-left: 1em;
 width: 50px;
 height: 50px;
 padding: 0;
}

.user img{
  margin-left: 1em;
  width: 50px;
  height: 50px;
}

/*Core styling for all buttons*/
.button{
    display: inline-block;
    color: #fff; /*white*/
    background-color: #f3784d; /*orange*/
    transition-duration: 0.4s;
}

/* Styling for the navigation button */

.button-nav {
  padding: 1em 3em;
  border-bottom: 0.2em;
  border-color: #f3784d;
  background-color: white;
  font-weight: bold;
  color: #52525a;
  border-bottom-style: solid;
  text-decoration: none;
  position: relative;
  cursor:pointer;
  z-index:0;
}

.button-nav:before {
  background-color: #f3784d; /*orange*/
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: transform .3s ease-out;
}

.button-nav:hover:before{
  transform: scaleY(1);
}

.button-nav:hover{
  color: white;
  transition-duration: 0.3s;
}

.button-nav:active{
  animation: pulse-orange 0.2s 1 ease-out;
  color: #52525a;
}

/* end of Nav buttons*/

/*animation for submit button*/
/*based from code at: https://codepen.io/stopsatgreen/pen/hegrm */

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}

@keyframes pulse-grey {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(82,82,90, 1); /*grey border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, .8),
                 0 0 0 1em rgba(82,82,90, .25);
  }
}
/*end of animation*/
