*, *::after, *::before{
  box-sizing: border-box;
}
/*Nav bar*/

.container-nav {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1em 0;
  box-shadow: 0px 13px 57px -15px rgba(0,0,0,0.49);
  justify-content: space-between;
}

.logo-nav {
  /*background-color:#ff5722;*/
  color: #f3784d;
  min-width: 10em;
  margin: 0.2em;
  margin-left: 1.5em;
  padding: 0.925em 0;
  /*text-align: center;*/
  font-weight: bold;
  text-decoration: none;
  /*font-size: 18px;*/
  order: 0;
}

/*.after-search-container{
  display: flex;
  flex-direction: row;*/
  /*justify-content: flex-end;*/
/*}*/

.searchbar-nav {
  margin: 0.2em;
  margin-right: 0.5em;
  width: 100%;
  border: none;
  font-size: 1em;
  order: 0;
}

/*.searchbar-nav-container{
  position: fixed;
  top: 0;
  z-index: 2;

  padding-left: 3em;
  padding-right: 3em;
  max-width: 88em;*/
  /* display: block; */
/*  margin-left: auto;
  margin-right: auto;
}*/

/*.searchbar-spacer{

}*/

.menu-nav {
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  /*margin-right: 2em;*/
  justify-content: center;
  order: 0;
}

.checkout-nav{
  margin-right: 1.5em;
  order: 0;
}

input[id=search]{
  color: #52525a;
  width: 9em;
  border-style: solid;
  border-color: #f3784d;
  border-radius: .5em;
  background-color: white;
   /*background-image: url('https://www.w3schools.com/css/searchicon.png'); */
   /*background-position:top; */
   /*background-size: 10%;*/
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  -webkit-fill-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }

input[id=search]:focus {
  width: -webkit-fill-available;
}

input[type=text] {

  height: 100%;
  width: 15em;
  box-sizing: border-box;
  border: 2px solid #276cd414;
  border-radius: 0.25em;
  font-size: 1em;
  background-color: white;
  /*background-image: "../img/searchIcon.png";*/
  /*background-position: 10px 10px;*/
  /*background-repeat: no-repeat;*/
  padding: 0.8em 0.8em 0.8em 0.8em;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

form{
  width:100%;
  height: 100%;
}

/*.separate-nav{
  min-width: 10em;
  margin: 0.2em;
}*/

.cart{
  margin-right: 1em;
  padding: 0;
  width: 50px;
  height: 50px;
}

.user{
  margin-left: 1em;
  padding-bottom: 0;
  width: 50px;
  height: 50px;
  margin-right: 2em;
}

.cart img{
 margin-left: 1em;
 width: 50px;
 height: 50px;
 padding: 0;
}

.user img{
  margin-left: 1em;
  width: 50px;
  height: 50px;
}

/*Core styling for all buttons*/
.button{
    /*display: inline-block;*/
    color: #fff; /*white*/
    background-color: #f3784d; /*orange*/
    transition-duration: 0.4s;
}

/* Styling for the navigation button */


.button-nav {
  /*padding: 1em 3em;*/
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .8em;
  padding-bottom: 0.6em;

  border-bottom: 0.2em;
  border-color: #f3784d;
  border-bottom-style: solid;

  background-color: white;
  font-weight: bold;
  color: #52525a;
  text-decoration: none;
  position: relative;
  cursor:pointer;
  /*width: 100%;*/
  z-index:0;
  /*line-height: 1em;*/

  /*text-align: center;
  vertical-align: center;
  justify-content: center;*/
}

.button-nav-about-us{
  width: 9em;
}

.button-nav:before {
  background-color: #f3784d; /*orange*/
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: transform .3s ease-out;
}

/*.button p{
  margin: 0;
}*/

.button-nav:hover:before{
  transform: scaleY(1);
}

.button-nav:hover{
  color: white;
  transition-duration: 0.3s;
}

.button-nav:active{
  animation: pulse-orange 0.2s 1 ease-out;
  color: #52525a;
}

/*.nav-3-items{
  display: flex;
  flex-direction: row;
}*/

/*.icon-container{
  display: flex;
  flex-direction: row;
}*/
/* end of Nav buttons*/

/*animation for submit button*/
/*based from code at: https://codepen.io/stopsatgreen/pen/hegrm */

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}

@keyframes pulse-grey {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(82,82,90, 1); /*grey border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, .8),
                 0 0 0 1em rgba(82,82,90, .25);
  }
}
/*end of animation*/


/* The Responsiveness for the nav bar */

@media (max-width: 66em) {

  .searchbar-nav {
    align-self: flex-end;
    order: 2;
    padding-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  input[type=text]{
    width: 100%;
  }

  .container-nav{
    flex-wrap: wrap;
    padding-bottom: 0.5em;
  }

  .logo-nav{
    flex: 2 1 auto;
  }

}

@media (max-width: 48em) {
                 /*47.938em*/
  /*input[type=text]{
    width: 10em;
  }*/
/**/
  .logo-nav{
    /*flex: 2 1 auto;*/
    min-width: 5em;
  }

  .menu-nav{
    /*align-self: flex-end;*/
    order: 1;
    padding-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
@media (max-width: 26.563em) {
  .menu-nav{
    flex-direction: column;
    width: 100%;
    /*display: block;*/
  }

  .button-nav{
    width: 100%;
    /*display: block;*/
  }
}
