*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.home-page{
  margin-bottom: 4em;
  margin-top: 5.378em;
}

.banner{
  width: 100%;
  height: 50em;
  background: url("../img/guide-to-3d-printing-materials-hero1551043710836.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.banner-cards-container{
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.bottom-area{
  margin-top: 2em;
}


.ad-card{
  /* min-width: 422.4px; */
  max-width: 26.400em;
  height: 25em;
  background-color: white;
  margin: 1em;
  align-items: center;
  border-radius: 9px;

}

.ad-card h2{
	margin:0;
	padding: 0.5em 1em;
}

.ad-content{
  padding: 1em;
  width: 100%;
  height: 40%;
  /* background-color: #fb53bb; */
}

.refill-card{
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  /* background-color: #fb53bb; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}


.filament-row{
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.item{
	display: flex;
	flex-direction: column;
  align-items: center;
	flex-grow: 1;
	/*width: 2em;
	height: 2em;*/
	margin: 0.1em 0.1em;
  width: 12em;
  /* height: 10em; */
  padding: 0.5em;
	background-color: #f2fafc;
  text-decoration: none;
  color: black;
}


.item img{
  max-width: 5.6em;
  height: auto;
}

.item h4{
  text-align: center;
	margin: 0;
  font-weight: normal;
  margin-top: 0.6em;
  padding: 0 0.9em;
}




/* Upcoming events--------------------------------------------------------------- */

.two-events{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-top: 0;
}
.event-row{
  width: 100%;
  /* background-color: #cb4df3; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.date-and-month{
  /* border: 1px solid black; */
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 1em;

}
.date-and-month h2{
  padding: 0;
}

.event-main-details{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;

}

.event-title h2{
  padding: 0;
}

.time-and-genre h3{
  margin: 0;
}

.vertical-line{
  height: 90%;
  width: 3px;
  background-color: black;
}

/* Upcoming events--------------------------------------------------------------- */

/* wishlist----------------------------------------------------------------------- */

.wishlist{
  margin: 1em;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-around;
  padding: 0 2em;
}

.wishlist-left{
  width: 9em;
}

.wishlist-left img{
  /* width: 12.500em; */
  width: 100%;
  /* width: 7em; */
}

.wishlist-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1em;
  line-height: 1.4em;
}
.wishlist-right h2{
  margin: 0;
  padding: 0;
}
.old-new-price{
  display: flex;
  flex-direction: row;
  color: red;
}
.old-new-price h4{
  margin: 0 0.6em;
  margin-left: 0;
}
.size{
  margin: 0;
}
.old-price{
  text-decoration: line-through;
  color: black;
}

.link{
  color: black;
  border-radius: 0.4em;
}
.link:hover , .linkfocus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* wishlist----------------------------------------------------------------------- */

/* bottom page----------------------------------------------------------------------- */

.on-sale{
	width: 100%;
}

.multiview-cards{
	display: flex;
	flex-direction: row;
	/* background-color: grey; */
	width: 100%;
	/* height: 14em; */
  justify-content: space-between;
}

.section-tab-master{
	display: flex;
	flex-direction: column;
	width: 100%;
}



/* bottom page----------------------------------------------------------------------- */


@media (max-width:66em){
.home-page{
  margin-top: 8.748em;
  /*padding-top: 1.5em;*/
}

@media (max-width:48em){
.home-page{
  margin-top: 11.972em;
  /*padding-top: 1em;*/
}

@media (max-width:26.563em){
.home-page{
  margin-top: 17.419em;
  /*padding-top: 0.75em;*/
}