*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.homepage{
  margin-bottom: 4em;
  margin-top: 4em;
}
/* .banner{
  width: 100%;
  height: 40em;
  background-color: #1e6a99;
  position: relative;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  bottom: 0;
  align-items: flex-end;
  padding: 0 16em;
} */

.banner{
  position: relative;
  height: 100%;
  justify-content: center;
  /* margin-top: 50em; */
}
.banner-image{

  width: 100%;
  height: auto;
}

.banner-cards-container{
  /*position: absolute;
  top: 20em;
  left: 16em;
  right: 16em;*/
  /*position: relative;*/

  /* height: 50%; */
  /* max-width: 100%; */
  position: absolute;
  bottom: 0;
  margin-top: 3em;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 5.2em; */
}
.bottom-area{
  margin-top: 2em;
}


.ad-card{
  /* min-width: 422.4px; */
  max-width: 26.400em;
  height: 24em;
  background-color: white;
  margin: 1em;
  align-items: center;
  border-radius: 9px;

}

.ad-card h2{
	margin:0;
	padding: 0.5em 1em;
}

.ad-content{
  padding: 1em;
  width: 100%;
  height: 40%;
  /* background-color: #fb53bb; */
}

.refill-card{
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  /* background-color: #fb53bb; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
.refill-card h4{
  /* text-decoration: none; */
}
.filament-row{
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.item{
	display: flex;
	flex-direction: column;
  align-items: center;
	flex-grow: 1;
	/*width: 2em;
	height: 2em;*/
	margin: 0.1em 0.1em;
  width: 12em;
  /* height: 10em; */
  padding: 0.5em;
	background-color: #f2fafc;
  text-decoration: none;
}


.item img{
  max-width: 5.6em;
  height: auto;
}

.item h4{
  text-align: center;
  font-size: 1em;
	margin: 0;
  font-weight: normal;
  margin-top: 0.6em;
  padding: 0 0.9em;
}




/* Upcoming events--------------------------------------------------------------- */

.two-events{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
}
.event-row{
  width: 100%;
  height: 50%;
  /* background-color: #cb4df3; */
  /* border: 1px solid black; */
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}
.event-row h4{
  margin: 0;
}
.date-and-month{
  width: 30%;
  /* border: 1px solid black; */
  text-align: center;
  padding: 2em 0;

}
.date-and-month h4{
  font-size: 1.875em;
}
.event-main-details{
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  padding-left: 0.4em;
  justify-content: center;

}
.time-and-genre{
  margin-top: 0.5em;
}

.event-title h4{
  font-size: 1.563em;
}

.time-and-genre h4{
  font-weight: 500;
  font-size: 1.375em;
}

.vertical-line{
  height: 100%;
  width: 3px;
  background-color: black;
  margin-right: 1em;
}

/* Upcoming events--------------------------------------------------------------- */

/* wishlist----------------------------------------------------------------------- */

.wishlist{
  margin: 1em;
  /* height: 70%; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.wishlist-left{
  width: 50%;
  margin-left: 2em;
}

.wishlist-left img{
  width: 12.500em;
  /* width: 7em; */
}

.wishlist-right{
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}
.wishlist-right h3{
  margin-bottom: 0;
}
.old-new-price{
    display: flex;
    flex-direction: row;
    color: red;
}

.old{
  text-decoration: line-through;
  margin-right: 0.5em;
  color: black;
  font-weight: 400;
}

.spacer{
  height: 2em;
  width: 100%;
}
.link{
  color: black;
  padding: 0.5em;
  border-radius: 0.4em;
}
.link:hover , .linkfocus{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.size{
  font-weight: 500;
}
/* wishlist----------------------------------------------------------------------- */

/* bottom page----------------------------------------------------------------------- */

.on-sale{
	width: 100%;
}

.multiview-cards{
	display: flex;
	flex-direction: row;
	/* background-color: grey; */
	width: 100%;
	/* height: 14em; */
  justify-content: space-between;
}

.section-tab-master{
	display: flex;
	flex-direction: column;
	width: 100%;
}



/* bottom page----------------------------------------------------------------------- */
