*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.home-page{
  margin-bottom: 4em;
  margin-top: 5.373em;
}




@media (max-width:1412px) {
  .page-content-container{
    padding: 0;
  }

/****************************/

@media (max-width:67.5em){
.home-page{
  margin-top: 8.738em;
  /*padding-top: 1.5em;*/
}

@media (max-width:50.313em){
.home-page{
  margin-top: 11.962em;
  /*padding-top: 1em;*/
}

@media (max-width:28.375em){
.home-page{
  /*margin-top: 16.429em;*/
  margin-top: 0;
  padding-top: 0.75em;
}