*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.main-product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 0 1em;

}

.single-product{
  background-color: #fff;
  margin-left: 1em;
  margin-bottom: 1.2em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-width: 19em;
  margin-top: 2em;
  background-color: #F0F0F0;
}
.product-card{
  justify-content: center;
}

.image{
  width: 19em;
  height: 19em;
  padding: 0 1em;
}

.image img{
  width: 100%;
}

.details{
  display: flex;
  flex-direction: column;
  color: #000;

}

.name-product{
  margin-left: 1em;
}
.name-product h3{
  margin: 0;
  font-weight: bold;
}

.price-and-star{
  margin: 0 1em;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price{
  float: left;
  margin: 0;
  font-weight: normal;
}

.stars{
  display: flex;
  flex-direction: row;
}

.stars h6{
  margin: 0;
  padding: 0;
  padding-left: 0.6em;
}
.price-and-star h4{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.checked{
  color: #f3784d;
}
.color{
  color: black;
}

.color:hover, .color:focus{
  color: #f3784d;
}

.size-and-assembly{
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.size-and-assembly h5{
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  
}

.single-product:hover, .single-product:focus{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.add-to-cart-button{
  /* width: 100%; */
  color: #fff;
  transition-duration: 0.4s;
  text-align: center;
  padding: 1em 1em;

  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  text-decoration: none;
  font-weight: bold;

  margin: 1em;
  margin-top: 2em;

  text-transform: uppercase;

}


.add-to-cart-button:hover, .add-to-cart-button:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}

.add-to-cart-button:active{
  animation: pulse-orange 0.2s 1 ease-out;
}

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}

@media (max-width: 1310px) {
  .main-product{
    justify-content: space-around;
  }
  .single-product{
    min-width: 18em;
  }

  .image{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1080px) {

  .single-product{
    margin-left: 0;
    min-width: 19em;
  }
  .image{
    width: 19em;
    height: 19em;
  }
}

@media (max-width: 670px) {

  .single-product{
    margin-left: 0;
  }
  .image{
    width: 100%;
    height: 100%;
  }
}
