*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}


ul{
  padding: 0;
  list-style: none;
}

.product-details{
  margin-top: 6em;
  padding: 3em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}
.images-and-details{
  display: flex;
  flex-direction: row;
}

.images-set{
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: space-between;
}

.main-image{
  width: 100%;
}
.main-image img{
  width: 866px;
}

.image-caro{
  display: flex;
  flex-direction: row;

}
.image1{
  width: 9em;
  height: 5em;
  margin: 0.5em 0;
  margin-bottom: 0;
  margin-right: 0.58em;
  /* background-color: #e05151; */
}
.image1 img{
  width: 137px;
}
.last{
  margin-right: 0;
}
.product-name-heading h1{
  margin: 0;
}
.product-detail-heading{
  display: flex;
  flex-direction: column;
  width: 34%;
  padding-left: 1.5em;
  justify-content: space-between;
}

.product-price{
  display: flex;
  flex-direction: row;
}

.strikethrough-price{
  text-decoration: line-through;
  margin-right: .5em;
}

.product-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0;

}

.checked{
  color: #f3784d;
}

.add-to-carts{
  width: 100%;
  color: #fff;
  background-color: #f3784d;
  transition-duration: 0.4s;
  text-align: center;
  padding: 1em 1em;
}

.add-to-carts h3{
  /* font-weight: 900; */
  margin: 0;
}
.left{
  margin-right: 0.5em;
}

.right{
  margin-left: 0.5em;
}
.button-submits{
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #f3784d;
  border-color: #f3784d;
  border-width: 2px;
  border-style: solid;
}

.button-submits:hover, .button-submits:focus{
  background-color: #fff;
  color: #f3784d;
  border-color: #f3784d;
  /* border-width: 0.2em; */
  border-style: solid;
}

.button-submits:active{
  animation: pulse-orange 0.2s 1 ease-out;
}

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}
/*
.button-pro {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	padding: 1em 1em;
  padding: 0.9em;
	border: 1px solid #1b2ae026;
	background: none;
	color: inherit;
	vertical-align: top;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.button-pro:focus {
	outline: none;
}

.button-pro.button--aylen {
	background: #fff;
	color: #37474f;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
} */


.overview{
  order: 2;
  width: 100%;
  height: 50vh;
  /* border: solid black 2px; */
}
/* Spec list------------------------------------------------------------------------ */
.spec-list{
  order: 3;
  width: 100%;
  margin-bottom: 3em;
  /* border: solid black 2px; */
}

.spec-list-copy{
  display: flex;
  flex-direction: column;
}

.title-and-details{
  display: flex;
  flex-direction: row;
}
.single-spec-and-line{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divide{
  width: 100%;
  height: 4px;
  background-color: black;
  margin: 0.3em 0.8em;
  margin-left: 0;
  margin-bottom: 3em;
}
.single-spec{
  display: flex;
  flex-direction: row;
  margin-top: 2em;

}
.spec-title{
  width: 30%;
}
.spec-details{
  width: 70%;
}

td, th {
  /* border: 1px solid #dddddd; */
  font-size: 1.08em;
  text-align: left;
  padding: 8px;
}
.printing td{
  padding-left: 10em;
}
.temp td{
  padding-left: 3.7em;
}
.weight td{
  padding-left: 9.5em;
}
.mechanical td{
  padding-left: 7.7em;
}
.software td{
  padding-left: 9.6em;
}
.electrical td{
  padding-left: 9.5em;
}
.camera td{
  padding-left: 10.8em;
}
th{
  /* margin-right: 0; */
  font-weight: 900;
}

/* Spec list------------------------------------------------------------------------ */
.similar-products{
  order: 4;
  width: 100%;
}
.product-list{
  display: flex;
  flex-direction: row;
}
/* .single-product{
  flex-grow: 1;
  min-width: 16.322em;
  height: 28.95em;
  background-color: #e1e1e1;
  margin-left: 1.403em;
  margin-bottom: 1.403em;
  border-radius: 9px;

} */
/* .single-product:hover, .single-product:focus{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* reviews -----------------------------------------------------------------------------------------------*/
.reviews{
  order: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: solid black 2px; */
}
.single-review{
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}
.righty{
  display: flex;
  flex-direction: column;
}


.profile img{
  width: 100px;
  border-radius: 100px;
}
.name-star{
  height: 100%;
  margin-left: 1em;
  /* border: solid black 1px; */
}
.star{
  margin-bottom: 0;
  margin-bottom: 1em;
}
.name h4{
  font-size: 22px;
  margin: 0;
  margin-bottom: 0.5em;
}

.review-copy{
  order: 2;
  width: 100%;
  margin-left: 1em;
  /* border: solid black 1px; */

}

/* reviews ----------------------------------------------------------------------*/
/* multiview product css-------------------------------------------------------- */

.single-product{
  background-color: #fff;
  margin-left: 1.2em;
  margin-bottom: 1.2em;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.bookmark{
  width: 100%;
}
.bookmark-icon img{
  width: 20px;
  float: right;
  margin-right: 1.2em;
  margin-top: 1.2em;
  /* background-color: #5722ff; */
}

.image{
  width: 100%;
}

.image img{
  width:220px;
  padding-bottom: 0.9em;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  /* background-color: #5722ff; */
  color: #000;

}

.name-product{
  margin: 1em 0.9em;
  margin-bottom:1em;
  padding: 0;
  flex-wrap: wrap;
}
.details h3{
  font-weight: bold;
}

.price-and-star{
  margin: 0 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price{
  float: left;
  margin: 0;
}

.price-and-star h4{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.checked{
  color: #f3784d;
}

/* .stars{
  position: relative;
  right: 0;
} */

.size-and-assembly{
  margin: 1em 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.size-and-assembly h4{
  font-weight: normal;
  margin: 0;
}

.single-product:hover, .single-product:focus{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
