*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.product-heading{
  margin-top: 10em;
}

.product-page{
  display: flex;
  flex-direction: row;
}

.filter{
  min-width: 16em;
  padding-right: 0.625em;
  border-right: solid #848484 0.5px;
  display: block;
}

.browse{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.sub-navigation{
  display: flex;
  flex-direction: row;
}

.sub-in-text{
  margin: 0 1em;
  margin-bottom: 1em;
}
.sub-in-text h3{
  margin: 0;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
.sub-in-text h3:hover, .sub-in-text h3:focus{
  color: #f3784d;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.filter li{
  border-bottom: solid #848484 0.5px;
}

@media (max-width:1326px) {
  .product-page{
    display: flex;
    flex-direction: column;
  }
  .page-content-container{

   padding-left: 0;
   padding-right: 0;
  }

  .sub-navigation{
    margin-top: 3em;
  }

  .filter{
    margin: 0 1em;
  }
  .product-heading{
    margin-left: 1em;
  }
/*
  .single-product{
    background-color: #fff;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    width: 8em;
  }

  .bookmark-icon img{
    width: 1em;
    float: right;
    margin-right: 1.2em;
    margin-top: 1.2em;
    background-color: #5722ff;
  }

  .image img{
    width: 8em;
    padding-bottom: 0.9em;
  }

  .price-and-star{
    margin: 0 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
}
