*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.product-heading{
  margin-top: 5.378em;
  padding-top: 3em;
}

.product-page{
  display: flex;
  flex-direction: row;
}

.filter{
  min-width: 16em;
  padding-right: 0.625em;
  border-right: solid #848484 0.5px;
  display: block;
}

.browse{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.sub-navigation{
  display: flex;
  flex-direction: row;
  padding-left: 1.5em;
}

.sub-in-text{
  margin: 0 1em;
  margin-bottom: 1em;
}
.sub-in-text h3{
  margin: 0;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
.sub-in-text h3:hover, .sub-in-text h3:focus{
  color: #f3784d;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.filter li{
  border-bottom: solid #848484 0.5px;
}

@media (max-width:1326px) {
  .product-page{
    display: flex;
    flex-direction: column;
  }
  .page-content-container{

   padding-left: 0;
   padding-right: 0;
  }

  .sub-navigation{
    margin-top: 3em;
  }

  .filter{
    margin: 0 1em;
  }
  .product-heading{
    margin-left: 1em;
  }

  .sub-navigation{
    padding-left: 1em;
  }
}

@media (max-width:1326px){
  .sub-navigation{
    padding-left: 0;
  }

}

@media (max-width:66em){
.product-heading{
  margin-top: 8.748em;
  padding-top: 1.5em;
}

@media (max-width:48em){
.product-heading{
  margin-top: 11.972em;
  padding-top: 1em;
}

@media (max-width:26.563em){
.product-heading{
  margin-top: 17.419em;
  padding-top: 0.75em;
}