*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}


.filter{
  min-width: 16.983em;
  padding-right: 10px;
  border-right: solid #848484 0.5px;
  display: block;
}

.filter h2{
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  /*padding-left: 1em;*/
  /*font-size: 1.4em;*/
  /*line-height: 2em;*/
  /*text-align: baseline;*/
}

.filter h4{
  margin: 0;
  margin-bottom: 0.5em;
}

.radio-buttons-container{
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
  margin-bottom: 0.5em;
}

.radio-class{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  /*vertical-align: center;*/
  align-items: center;
  padding-bottom: 0.2em;
}

.radio-class h4{
  padding-left: 0.4em;
}

.radio-class p{
  font-weight: 500;
  margin: 0;
  margin-left: 0.5em;
}

.responsive-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F0F0F0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.list-item-grid{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}


/***********************************************************/

.product-heading{
  margin-top: 5.373em;
  padding-top: 3em;
}

.product-page{
  display: flex;
  flex-direction: row;
}

.filter{
  min-width: 16em;
  padding-right: 0.625em;
  border-right: solid #848484 0.5px;
  display: block;
}

.browse{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.sub-navigation{
  display: flex;
  flex-direction: row;
  padding-left: 1.5em;
}


.sub-in-text h3{
  margin: 0;
  font-weight: bold;
  color: black;
  padding: 1em 2em;
  margin-left: 0.5em;
  /* text-decoration: underline; */
  text-transform: uppercase;
}
.active h3{
  color: #000;
  background-color: #f3784d;
}

.sub-in-text h3:hover, .sub-in-text h3:focus{
  color: #fff;
  background-color: #f3784d;
}


ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/*.filter li{
  border-bottom: solid #848484 0.5px;
}*/

@media (max-width:1326px) {
  .page-content-container{

   padding-left: 0;
   padding-right: 0;
  }

  .sub-navigation{
    margin-top: 3em;
  }

  .filter{
    margin: 0 1em;
  }
  .product-heading{
    margin-left: 1em;
  }

  .sub-navigation{
    padding-left: 1em;
  }
}


@media (max-width:945px) {
  .product-page{
    display: flex;
    flex-direction: column;
  }
}


@media (max-width:1326px){
  .sub-navigation{
    padding-left: 0;
  }

}

@media (max-width:67.5em){
  .product-heading{
    margin-top: 8.738em;
    padding-top: 1.5em;
  }
}

@media (max-width:50.313em){
  .product-heading{
    margin-top: 11.962em;
    padding-top: 1em;
  }
}

@media (max-width:28.375em){
  .product-heading{
    /*margin-top: 16.429em;*/
    margin-top: 0;
    padding-top: 0.75em;
  }
}

@media (max-width:28.375em){
  .product-heading{
    /* margin-top: 16.429em; */
    margin-top: 0;
    padding-top: 0.75em;
  }
}

@media (max-width:28.375em){

  .sub-in-text{
    margin-left: 1em;
  }

  .sub-in-text h3{
    padding: 0.4em 0.4em;
    margin-left: 0.2em;
  }
}
