*, *::after, *::before{
  box-sizing: border-box;
}
/*Nav bar*/

.container-nav {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1em 0;
  /* height: 100%; */
  /* box-shadow: 0px 13px 57px -15px rgba(0,0,0,0.49); */
  box-shadow: 0 0.813em 3.563em -0.938em rgba(0,0,0,0.49);

}
.divider{
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 1em;
}

.top-nav{
  display: flex;
  flex-direction: row;
}

.bottom-nav{
  display: flex;
  flex-direction: row;
}

.mini-links{
	display: flex;
	flex-direction: row;
	margin: 1em 16em;
	margin-bottom: 0;
  margin-left: 21.5em;
}
.in-text{
  text-decoration: none;
    margin: 0 1em;
}
.in-text h4{
  margin: 0;
}

.logo-nav {
  background-color:#ff5722;
  min-width: 18em;
  margin: 0.2em;
  margin-left: 1.5em;
  padding: 1em 0;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  font-size: 1.1em;
}

.searchbar-nav {
  margin: 0.2em;
  margin-right: 0.5em;
  width: 100%;
  border: none;
  font-size: 1em;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin-right: 2em;
  justify-content: center;
}

input[id=search]{
  color: #52525a;
  width: 9.375em;
  border-style: solid;
  border-color: #f3784d;
  border-radius: .5em;
  background-color: white;
  /* background-image: url('https://www.w3schools.com/css/searchicon.png'); */
  /* background-position:top; */
  /* background-size: 10%; */
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  -webkit-fill-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }

input[id=search]:focus {
  width: -webkit-fill-available;
}

input[type=text] {

  height: 100%;
  width: 15.625em;
  box-sizing: border-box;
  border: 2px solid #276cd414;
  border-radius: 4px;
  font-size: 1em;
  background-color: white;
  background-image: "../img/searchIcon.png";
  background-position: 0.625em 0.625em;
  background-repeat: no-repeat;
  padding: 0.750em 1.250em 0.750em 2.500em;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

form{
  width:100%;
  height: 100%;
}

.separate-nav{
  min-width: 10em;
  margin: 0.2em;
}

.cart{
  margin-right: 1em;
  padding: 0;
  width: 3.125em;
  height: 3.125em;
}

.user{
  margin-left: 1em;
  padding-bottom: 0;
  width: 3.125em;
  height: 3.125em;
  margin-right: 2em;
}

.cart img{
 margin-left: 1em;
 width: 3.125em;
 height: 3.125em;
 padding: 0;
}

.user img{
  margin-left: 1em;
  width: 3.125em;
  height: 3.125em;
}

/*Core styling for all buttons*/
.button{
    display: inline-block;
    color: #fff; /*white*/
    background-color: #f3784d; /*orange*/
    transition-duration: 0.4s;
}

/* Styling for the navigation button */

.button-nav {
  padding: 1em 3em;
  border-bottom: 0.2em;
  border-color: #f3784d;
  background-color: white;
  font-weight: bold;
  color: #52525a;
  border-bottom-style: solid;
  text-decoration: none;
  position: relative;
  cursor:pointer;
  z-index:0;
}

.button-nav:before {
  background-color: #f3784d; /*orange*/
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: transform .3s ease-out;
}

.button-nav:hover:before{
  transform: scaleY(1);
}

.button-nav:hover{
  color: white;
  transition-duration: 0.3s;
}

.button-nav:active{
  animation: pulse-orange 0.2s 1 ease-out;
  color: #52525a;
}

/* end of Nav buttons*/

/*animation for submit button*/
/*based from code at: https://codepen.io/stopsatgreen/pen/hegrm */

@keyframes pulse-orange {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(243,120,77, 1); /*orange border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, 0.5),
                 0 0 0 1em rgba(243,120,77, 0);
  }
}

@keyframes pulse-grey {
  from {
    box-shadow:  0 0 0 0 rgba(255, 255, 255, 1), /*white*/
                 0 0 0 0 rgba(82,82,90, 1); /*grey border*/
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, .8),
                 0 0 0 1em rgba(82,82,90, .25);
  }
}
/*end of animation*/
