@media (max-width:1412px) {
  .page-content-container{
    padding: 0;
  }
  .sale-heading{
    margin-left: 1em;
  }

  .banner{
    margin-top: 5em;
    height: 40em;
  }
}

@media (max-width:1270px) {
  .banner-cards-container{
    /* flex-direction: column; */
    display: none;
  }

  .banner{
    margin-top: 5em;
    height: 30em;
    background: url("../../img/gradient-cropped.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}

@media (max-width:922px) {
  .banner{
    margin-top: 9em;
    height: 20em;
  }
}

@media (max-width:516px) {
  .banner{
    margin-top: 11em;
    height: 10em;
  }
}

@media (max-width:454px) {
  .banner{
    margin-top: 0em;
    height: 10em;
  }
}

@media (max-width:425px) {

  .banner{
    margin-top: 0em;
    height: 10em;
  }
  .bottom-area{
    margin: 1em;
  }
  .multiview-cards{
  	display: flex;
    flex-wrap: wrap;
  }
  .wishlist{
    margin: 1em 0;
  }
  .wishlist-left img{
    width: 7em;
    /* width: 7em; */
  }
  .wishlist-right h3{
    margin: 0;
  }
  .wishlist-right h4{
    margin: 0;
  }
  .wishlist-right{
    justify-content: space-between;
  }
  .spacer{
    height: 0;
    width: 100%;
  }
}

@media (max-width:320px) {
  .banner{
    height: 10em;
  }
}
