@media (max-width: 1414px) {
  .page-content-container{

   padding-left: 1em;
   padding-right: 1em;
  }

  .images-and-details{
    display: flex;
    flex-direction: column;
  }

  .product-details{
    padding: 0;
    margin-top: 7em;
  }

  .product-detail-heading{
    padding:  0 1em;
  }

  .images-set{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .main-image img{
    width: 100%;
  }

  .images-set{
    margin-bottom: 2em;
  }
  .product-detail-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding-left: 0; */
    justify-content: space-between;
  }

  .single-detail{
    display: flex;
    flex-direction: row;
  }

  .title-and-details{
    display: flex;
    flex-direction: row;
  }

  .spec-list{
    padding: 0 1em;
  }

  .similar-products{
    padding: 0 1em;
  }

  .reviews{
    padding: 0 1.5em;
  }

}

@media (max-width: 1122px) {
  .main-tile{
    font-weight: normal;
    padding-right: 10em;
    max-width: none;

  }

  .spec-title{
    max-width: 10em;
    /* max-width: 100%; */
    padding-right: 10em;
  }
}

@media (max-width: 800px) {
  .product-details{
    margin-top: 11em;
  }
  .title-and-details{
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }


}

@media (max-width:526px) {
  .product-details{
    margin-top: 11em;
  }
}


@media (max-width:454px) {
  .product-details{
    margin-top: 0em;
  }
}

@media (max-width: 425px) {

  .product-details{
    margin-top: 0em;
  }
  .review-button{
    text-align: center;
  }

  .title-and-details{
    padding: 0;
  }

  .add-to-carts h3{
    font-size: 1em;
  }
  .lefty{
    flex-direction: column;
  }
  .review-button{
    margin-top: 0.5em;
  }
}
